.blogWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 3rem;
}
.image {
    width: 50%;
    max-width: 100%;
    aspect-ratio: 16/12;
    object-fit: cover;
  }

.blogTitle{
    margin-bottom: 2rem;
    margin-top: 1rem;
}